@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

body {
  font-family: 'Qahiri', sans-serif;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-name {
  font-style: oblique;
}

.card-image {
  margin: 1rem;
}

.card-container {
  box-shadow: 6px 10px rgb(180, 175, 175);
  background-color: rgb(136, 119, 119);
  margin-top: 3rem;
  border-radius: 2rem;
}

.card-info-div {
  color: whitesmoke;
  padding: 1rem;
}

.card-info-div {
  background-color: rgb(27, 26, 26);
  border-radius:  0.5rem;
  margin: 1rem;
}

.app-header {
  background-color: whitesmoke;
}

.search-input-div {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

